.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 170px;
}

.search-icon {
  position: absolute;
  left: 10px; /* Adjust based on preference */
  color: #5f5c5c; /* Optional: change icon color */
}

.search-input {
  padding-left: 45px; /* Adjust based on icon width */
  border-radius: 100px;
  border: 1px solid #1d1c1c; /* Optional: change border color */
  /* font: ""; */
}
